.new-note-btn {
  margin: 10px;
}
.notes-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.h2-contain {
  background: #187795;
  border-radius: 50px;
  box-shadow: 25px 25px 51px #14657f, -25px -25px 51px #1c89ab;
  text-align: center;
}
.notes-container ul {
  list-style-type: none;
  flex-wrap: wrap;
}
.notes-container li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
}
.the-note {
  background: #187795;
  box-shadow: inset 25px 25px 51px #14657f, inset -25px -25px 51px #1c89ab;
  border-radius: 50px;
  height: 10em;
  width: 10em;
  padding: 15%;
  display: flex;
  flex-direction: column;
}
