/* TODO Add site wide styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  padding: 1%;
  bottom: 2em;
  margin: 2em;
}

a {
  border-radius: 50px;
  background: #187795;
  box-shadow: 25px 25px 51px #14657f, -25px -25px 51px #1c89ab;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
button {
  padding: 1rem;
  border-radius: 50px;
  background: #2589bd;
  box-shadow: 20px 20px 60px #1f74a1, -20px -20px 60px #2b9ed9;
  text-decoration: none;
  color: white;

  padding: 1rem;
}
body {
  background: #187795;
  border-radius: 50px;
  box-shadow: inset 25px 25px 51px #14657f, inset -25px -25px 51px #1c89ab;
  color: white;
  right: 25%;
  display: flex;
  justify-content: center;
  padding: 10%;
}
div {
}
