form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #38686a;
  box-shadow: 12px 12px 24px #30585a inset, -12px -12px 24px #40787a inset;
  text-decoration: none;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
}
