form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 50px;
  background: #2589bd;
  box-shadow: 20px 20px 60px #1f74a1, -20px -20px 60px #2b9ed9;
  text-decoration: none;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
}
